body {
  margin: 0px;
  background:  #D67AA3;
  min-width: 1200px;
}

body > .header{
  width : 100%;  
  min-width: 1200px;  
}
/* header image and page tile */
body > .header > img.header_img{
  width : 100%;
}
body > .header > h3 {
  font-family: 微软雅黑, 黑体;
  font-weight: 300;
  font-size: 24px;
  display: inline;
  color: #8E355D;
  top : 30px;
  left : 30%;
  position: absolute;
}

/* header links disaply in horizental */
.header_links {
    left: 30%;
    top: auto;
    min-width: 1200px;
    position: absolute;
}
.header_links > ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header_links > ul > li {
    display: inline;
}
.header_links > ul > li > a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: #A65A9F;
    padding: 0.2em 0.6em;
}
.header_links > ul > li > a:hover {
    background-color: #F9A4B7;
}


.main_container{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; 
    min-width: 1200px;
    width: 100%;
}
.content_body {
    width: 46%;
    min-width: 560px;
    position: relative;
    border-radius: 25px;
    background-color: white;
    min-height: 100px;
    float:left;
    padding: 10px;
    margin-right: 10px;     
}
.blog_list, .gallery{
    width: 22%;
    min-width: 260px;
    position: relative;
    border-radius: 10px;
    background-color: yellow;
    min-height: 100px;
    float:left;
    padding: 10px;
    margin-right: 10px; 
}
.blog_list{
  margin-left: 10px;
}
